# Binaries for programs and plugins
*.exe
*.exe~
*.so
*.dylib
*.js
*.c
*.ebnf
*.exp
*.ilk
*.lib
*.pdb
*.json
*.js

# Ignore binary output folders
bin/

# Ignore common editor/system specific metadata
.DS_Store
../.idea/
.idea/
.vscode/
*.iml
