# Binaries for programs and plugins
*.exe
*.exe~
*.so
*.dylib
*.js
*.c
*.C
*.ebnf
*.exp
*.ilk
*.lib
*.pdb
*.json
*.cs
*.graphml
*.txt

#ignore not-yet-to-release folder
lua/

# Ignore binary output folders
bin/
/build/

# Ignore common editor/system specific metadata
.DS_Store
../.idea/
.idea/
.vscode/
*.iml
venv/
